CHAIN_ID=
CONNECT_TIMEOUT=
DATA_DIR=
HOST=
LOG_LEVEL=
REQUEST_TIMEOUT=
SOCKET_PATH=
TEST_CHAIN_ID=
TEST_DATA_DIR=
VITE_NODE_ENV=
VITE_PUBLIC_RPC_URL=
VITE_PUBLIC_ADMIN_RPC_URL=
VITE_RPC_URL=
VITE_ADMIN_RPC_URL=
VITE_CHAIN_ID=
VITE_ROOT_WALLET_RPC_PROXY_TARGET=
VITE_WALLET_ADMIN_RPC_PROXY_TARGET=
VITE_WALLET_RPC_PROXY_TARGET=